Source: tpr
Section: web
Priority: optional
Maintainer: Jack Christensen <jack@jackchristensen.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/JackC/tpr
Vcs-Git: https://github.com/JackC/tpr.git
Vcs-Browser: https://github.com/JackC/tpr

Package: tpr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: tern (>= 1.2.0), postgresql
Description: The Pithy Reader
 Simple RSS reader
